*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/release/

# Android/Jetpack Compose 프로젝트 공통
*.keystore
*.jks
app/google-services.json

# Kotlin/Java
*.class
*.jar
*.war
*.ear

# OS 관련
.DS_Store
Thumbs.db